In [1]:
import pandas as pd
import numpy as np

In [2]:
# x for ecommmerce company 

X_order=pd.read_excel("Company X - Order Report.xlsx")
#X_order

X_pincodeZone=pd.read_excel(r"Company X - Pincode Zones.xlsx")
#X_pincodeZone

X_skuMaster=pd.read_excel(r"Company X - SKU Master.xlsx")
#X_skuMaster

couriercomp_invoice=pd.read_excel(r"Courier Company - Invoice.xlsx")
#couriercomp_invoice

couriercomp_Rate=pd.read_excel(r"Courier Company - Rates.xlsx")
#couriercomp_Rate

### company Report

In [3]:
X_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

In [4]:
X_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

In [5]:
X_order.describe()

       ExternOrderNo   Order Qty
count   4.000000e+02  400.000000
mean    2.001811e+09    1.297500
std     5.187698e+03    0.919842
min     2.001806e+09    1.000000
25%     2.001807e+09    1.000000
50%     2.001809e+09    1.000000
75%     2.001812e+09    1.000000
max     2.001827e+09    8.000000

In [6]:
X_order

     ExternOrderNo            SKU  Order Qty
0       2001827036  8904223818706        1.0
1       2001827036  8904223819093        1.0
2       2001827036  8904223819109        1.0
3       2001827036  8904223818430        1.0
4       2001827036  8904223819277        1.0
..             ...            ...        ...
395     2001806229  8904223818942        1.0
396     2001806229  8904223818850        1.0
397     2001806226  8904223818850        2.0
398     2001806210  8904223816214        1.0
399     2001806210  8904223818874        1.0

[400 rows x 3 columns]

In [7]:
X_order=pd.merge(X_order,X_skuMaster,on='SKU')
X_order

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001821995  8904223818706        1.0         127
2       2001819252  8904223818706        1.0         127
3       2001816996  8904223818706        1.0         127
4       2001814580  8904223818706        1.0         127
..             ...            ...        ...         ...
396     2001806616  8904223819123        1.0         250
397     2001806567  8904223815804        1.0         160
398     2001806567  8904223818577        1.0         150
399     2001806408  8904223819437        2.0         552
400     2001806232  8904223818645        6.0         137

[401 rows x 4 columns]

In [8]:
X_order.isna().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
Weight (g)       0
dtype: int64

In [9]:
X_order['Total weight as per X (KG)']=(X_order['Weight (g)'] /1000)* X_order['Order Qty']
X_order

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127
1,2001821995,8904223818706,1.0,127,0.127
2,2001819252,8904223818706,1.0,127,0.127
3,2001816996,8904223818706,1.0,127,0.127
4,2001814580,8904223818706,1.0,127,0.127
...,...,...,...,...,...
396,2001806616,8904223819123,1.0,250,0.250
397,2001806567,8904223815804,1.0,160,0.160
398,2001806567,8904223818577,1.0,150,0.150
399,2001806408,8904223819437,2.0,552,1.104
400,2001806232,8904223818645,6.0,137,0.822

In [10]:
X_order.head(75)

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127
1,2001821995,8904223818706,1.0,127,0.127
2,2001819252,8904223818706,1.0,127,0.127
3,2001816996,8904223818706,1.0,127,0.127
4,2001814580,8904223818706,1.0,127,0.127
...,...,...,...,...,...
70,2001807613,8904223819277,1.0,350,0.350
71,2001827036,GIFTBOX202002,1.0,500,0.500
72,2001827036,GIFTBOX202002,1.0,500,0.500
73,2001827036,8904223818638,2.0,137,0.274
74,2001825261,8904223818638,3.0,137,0.411

In [11]:
#X_order['duplicate']=X_order.duplicated()

#X_order.head(77)
# 72  identical
X_order.drop([72],inplace=True)
X_order

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127
1,2001821995,8904223818706,1.0,127,0.127
2,2001819252,8904223818706,1.0,127,0.127
3,2001816996,8904223818706,1.0,127,0.127
4,2001814580,8904223818706,1.0,127,0.127
...,...,...,...,...,...
396,2001806616,8904223819123,1.0,250,0.250
397,2001806567,8904223815804,1.0,160,0.160
398,2001806567,8904223818577,1.0,150,0.150
399,2001806408,8904223819437,2.0,552,1.104
400,2001806232,8904223818645,6.0,137,0.822

In [12]:
X_order

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,2001827036,8904223818706,1.0,127,0.127
1,2001821995,8904223818706,1.0,127,0.127
2,2001819252,8904223818706,1.0,127,0.127
3,2001816996,8904223818706,1.0,127,0.127
4,2001814580,8904223818706,1.0,127,0.127
...,...,...,...,...,...
396,2001806616,8904223819123,1.0,250,0.250
397,2001806567,8904223815804,1.0,160,0.160
398,2001806567,8904223818577,1.0,150,0.150
399,2001806408,8904223819437,2.0,552,1.104
400,2001806232,8904223818645,6.0,137,0.822

In [13]:
x_weight=pd.DataFrame(X_order.groupby('ExternOrderNo')['Total weight as per X (KG)'].sum())

x_weight=x_weight.reset_index()
x_weight

     ExternOrderNo  Total weight as per X (KG)
0       2001806210                       0.220
1       2001806226                       0.480
2       2001806229                       0.500
3       2001806232                       1.302
4       2001806233                       0.245
..             ...                         ...
119     2001821995                       0.477
120     2001822466                       1.376
121     2001823564                       0.672
122     2001825261                       1.557
123     2001827036                       1.676

[124 rows x 2 columns]

In [14]:
x_weight.rename(columns={'ExternOrderNo':'Order ID'},inplace=True)

In [15]:
x_weight.head(10)

     Order ID  Total weight as per X (KG)
0  2001806210                       0.220
1  2001806226                       0.480
2  2001806229                       0.500
3  2001806232                       1.302
4  2001806233                       0.245
5  2001806251                       0.245
6  2001806273                       0.615
7  2001806304                       0.500
8  2001806338                       0.500
9  2001806408                       2.265

In [16]:
couriercomp_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [17]:
expresult=couriercomp_invoice[['Order ID','AWB Code']]
expresult

       Order ID       AWB Code
0    2001806232  1091117222124
1    2001806273  1091117222194
2    2001806408  1091117222931
3    2001806458  1091117223244
4    2001807012  1091117229345
..          ...            ...
119  2001812941  1091118551656
120  2001809383  1091117614452
121  2001820978  1091120922803
122  2001811475  1091121844806
123  2001811305  1091121846136

[124 rows x 2 columns]

In [18]:
expresult=pd.merge(expresult,x_weight,on='Order ID')
expresult

       Order ID       AWB Code  Total weight as per X (KG)
0    2001806232  1091117222124                       1.302
1    2001806273  1091117222194                       0.615
2    2001806408  1091117222931                       2.265
3    2001806458  1091117223244                       0.700
4    2001807012  1091117229345                       0.240
..          ...            ...                         ...
119  2001812941  1091118551656                       0.500
120  2001809383  1091117614452                       0.607
121  2001820978  1091120922803                       0.515
122  2001811475  1091121844806                       0.689
123  2001811305  1091121846136                       0.750

[124 rows x 3 columns]

In [19]:
import math

expresult['Weight slab as per X (KG)']=expresult['Total weight as per X (KG)'].apply(lambda x : math.ceil(x*2)/2)
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG)
0,2001806232,1091117222124,1.302,1.5
1,2001806273,1091117222194,0.615,1.0
2,2001806408,1091117222931,2.265,2.5
3,2001806458,1091117223244,0.700,1.0
4,2001807012,1091117229345,0.240,0.5
...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5
120,2001809383,1091117614452,0.607,1.0
121,2001820978,1091120922803,0.515,1.0
122,2001811475,1091121844806,0.689,1.0
123,2001811305,1091121846136,0.750,1.0

In [20]:
#x=lambda x : math.ceil(x*2)/2
#x(1.302)

In [21]:
expresult = pd.merge(expresult, 
                      couriercomp_invoice[['Order ID','Charged Weight']], 
                      on ='Order ID')
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Charged Weight
0,2001806232,1091117222124,1.302,1.5,1.30
1,2001806273,1091117222194,0.615,1.0,1.00
2,2001806408,1091117222931,2.265,2.5,2.50
3,2001806458,1091117223244,0.700,1.0,1.00
4,2001807012,1091117229345,0.240,0.5,0.15
...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73
120,2001809383,1091117614452,0.607,1.0,0.50
121,2001820978,1091120922803,0.515,1.0,0.50
122,2001811475,1091121844806,0.689,1.0,0.50
123,2001811305,1091121846136,0.750,1.0,0.50

In [22]:
expresult.rename(columns={'Charged Weight':'Total Weight as per courier company(kg)'},inplace=True)

In [23]:
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg)
0,2001806232,1091117222124,1.302,1.5,1.30
1,2001806273,1091117222194,0.615,1.0,1.00
2,2001806408,1091117222931,2.265,2.5,2.50
3,2001806458,1091117223244,0.700,1.0,1.00
4,2001807012,1091117229345,0.240,0.5,0.15
...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73
120,2001809383,1091117614452,0.607,1.0,0.50
121,2001820978,1091120922803,0.515,1.0,0.50
122,2001811475,1091121844806,0.689,1.0,0.50
123,2001811305,1091121846136,0.750,1.0,0.50

In [24]:

expresult['Weight slab as per courier company(kg)'] = expresult['Total Weight as per courier company(kg)'].apply(lambda x : math.ceil(x*2)/2)
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5
1,2001806273,1091117222194,0.615,1.0,1.00,1.0
2,2001806408,1091117222931,2.265,2.5,2.50,2.5
3,2001806458,1091117223244,0.700,1.0,1.00,1.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5
...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0
120,2001809383,1091117614452,0.607,1.0,0.50,0.5
121,2001820978,1091120922803,0.515,1.0,0.50,0.5
122,2001811475,1091121844806,0.689,1.0,0.50,0.5
123,2001811305,1091121846136,0.750,1.0,0.50,0.5

In [25]:
expresult = pd.merge(expresult, 
                      couriercomp_invoice[['Order ID','Zone']], 
                      on ='Order ID')
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Zone
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d
...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,d
120,2001809383,1091117614452,0.607,1.0,0.50,0.5,d
121,2001820978,1091120922803,0.515,1.0,0.50,0.5,d
122,2001811475,1091121844806,0.689,1.0,0.50,0.5,b
123,2001811305,1091121846136,0.750,1.0,0.50,0.5,d

In [26]:

expresult.rename(columns={'Zone':'Delivery zone as per X'},inplace=True)
expresult.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d

In [27]:

# Delivery zone charge by courier company

expresult['Delivery zone charge by courier company'] = expresult['Delivery zone as per X']
expresult.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X,Delivery zone charge by courier company
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d,d
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d,d
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d,d

In [28]:
#Calcuation of 'Expected charges as per X'

# creating the dataframe having 'Order ID','Weight slab as per X(kg)','Delivery zone as per X'

calculation =pd.DataFrame(expresult[['Order ID','Weight slab as per X (KG)','Delivery zone as per X']])
calculation

       Order ID  Weight slab as per X (KG) Delivery zone as per X
0    2001806232                        1.5                      d
1    2001806273                        1.0                      d
2    2001806408                        2.5                      d
3    2001806458                        1.0                      b
4    2001807012                        0.5                      d
..          ...                        ...                    ...
119  2001812941                        0.5                      d
120  2001809383                        1.0                      d
121  2001820978                        1.0                      d
122  2001811475                        1.0                      b
123  2001811305                        1.0                      d

[124 rows x 3 columns]

In [29]:
calculation = pd.merge(calculation, 
                      couriercomp_invoice[['Order ID','Type of Shipment']], 
                      on ='Order ID')

calculation.head()

,Order ID,Weight slab as per X (KG),Delivery zone as per X,Type of Shipment
0,2001806232,1.5,d,Forward charges
1,2001806273,1.0,d,Forward charges
2,2001806408,2.5,d,Forward charges
3,2001806458,1.0,b,Forward charges
4,2001807012,0.5,d,Forward charges

In [30]:
couriercomp_Rate

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [31]:
calculation['Expected charge as per X(Rs)']=0

In [32]:
calculation

,Order ID,Weight slab as per X (KG),Delivery zone as per X,Type of Shipment,Expected charge as per X(Rs)
0,2001806232,1.5,d,Forward charges,0
1,2001806273,1.0,d,Forward charges,0
2,2001806408,2.5,d,Forward charges,0
3,2001806458,1.0,b,Forward charges,0
4,2001807012,0.5,d,Forward charges,0
...,...,...,...,...,...
119,2001812941,0.5,d,Forward charges,0
120,2001809383,1.0,d,Forward and RTO charges,0
121,2001820978,1.0,d,Forward charges,0
122,2001811475,1.0,b,Forward charges,0
123,2001811305,1.0,d,Forward charges,0

In [33]:
for i in range(0,123):
    
    if ((calculation['Delivery zone as per X'][i]=='d') and (calculation['Type of Shipment'][i]=='Forward charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_d_fixed'] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_d_additional'][0]
        
    elif ((calculation['Delivery zone as per X'][i]=='d') and (calculation['Type of Shipment'][i]=='Forward and RTO charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_d_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_d_additional'][0] + couriercomp_Rate['rto_d_fixed'][0] 
        
    elif ((calculation['Delivery zone as per X'][i]=='b') and (calculation['Type of Shipment'][i]=='Forward charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_b_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_b_additional'][0]
        
    elif ((calculation['Delivery zone as per X'][i]=='b') and (calculation['Type of Shipment'][i]=='Forward and RTO charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_b_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_d_additional'][0] + couriercomp_Rate['rto_b_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['rto_b_additional'][0]
        
    elif ((calculation['Delivery zone as per X'][i]=='e') and (calculation['Type of Shipment'][i]=='Forward charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_e_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_e_additional'][0]
        
    elif ((calculation['Delivery zone as per X'][i]=='e') and (calculation['Type of Shipment'][i]=='Forward and RTO charges')):
        calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_e_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_e_additional'][0] + couriercomp_Rate['rto_e_fixed'][0] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['rto_e_additional'][0]
        
    calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])

C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_d_fixed'] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_d_additional'][0]
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calculation['Expected charge as per X(Rs)'][i] = couriercomp_Rate['fwd_d_fixed'] + ((calculation['Weight slab as per X (KG)'][i]/0.5)-1)*couriercomp_Rate['fwd_d_additional'][0]
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])

C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])

C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])

C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])
C:\Users\L\AppData\Local\Temp\ipykernel_9260\3619951781.py:21: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  calculation['Expected charge as per X(Rs)'].append(calculation['Expected charge as per X(Rs)'])

In [34]:
calculation['Expected charge as per X(Rs)']

0      135.0
1        NaN
2      224.6
3       61.3
4       45.4
       ...
119     45.4
120    131.5
121     90.2
122     61.3
123      0.0
Name: Expected charge as per X(Rs), Length: 124, dtype: float64

In [35]:
couriercomp_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [36]:
expresult = pd.merge(expresult, 
                      calculation[['Order ID','Expected charge as per X(Rs)']], 
                      on ='Order ID')

expresult.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X,Delivery zone charge by courier company,Expected charge as per X(Rs)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d,d,NaN
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d,d,224.6
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,61.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d,d,45.4

In [37]:
expresult = pd.merge(expresult, 
                      couriercomp_invoice[['Order ID','Billing Amount (Rs.)']], 
                      on ='Order ID')
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X,Delivery zone charge by courier company,Expected charge as per X(Rs),Billing Amount (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0,135.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d,d,NaN,90.2
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d,d,224.6,224.6
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,61.3,61.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d,d,45.4,45.4
...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,d,d,45.4,90.2
120,2001809383,1091117614452,0.607,1.0,0.50,0.5,d,d,131.5,86.7
121,2001820978,1091120922803,0.515,1.0,0.50,0.5,d,d,90.2,45.4
122,2001811475,1091121844806,0.689,1.0,0.50,0.5,b,b,61.3,33.0
123,2001811305,1091121846136,0.750,1.0,0.50,0.5,d,d,0.0,45.4

In [38]:

# Renaming the column

expresult.rename(columns={'Billing Amount (Rs.)':'Charged billed by courier company(Rs)'},inplace=True)
expresult.head()

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X,Delivery zone charge by courier company,Expected charge as per X(Rs),Charged billed by courier company(Rs)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0,135.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d,d,NaN,90.2
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d,d,224.6,224.6
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,61.3,61.3
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d,d,45.4,45.4

In [39]:
expresult['Difference between expected charges and billed charges(Rs)'] = round(expresult['Expected charge as per X(Rs)']-expresult['Charged billed by courier company(Rs)'],3)
expresult

,Order ID,AWB Code,Total weight as per X (KG),Weight slab as per X (KG),Total Weight as per courier company(kg),Weight slab as per courier company(kg),Delivery zone as per X,Delivery zone charge by courier company,Expected charge as per X(Rs),Charged billed by courier company(Rs),Difference between expected charges and billed charges(Rs)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,135.0,135.0,0.0
1,2001806273,1091117222194,0.615,1.0,1.00,1.0,d,d,NaN,90.2,NaN
2,2001806408,1091117222931,2.265,2.5,2.50,2.5,d,d,224.6,224.6,0.0
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,61.3,61.3,0.0
4,2001807012,1091117229345,0.240,0.5,0.15,0.5,d,d,45.4,45.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...
119,2001812941,1091118551656,0.500,0.5,0.73,1.0,d,d,45.4,90.2,-44.8
120,2001809383,1091117614452,0.607,1.0,0.50,0.5,d,d,131.5,86.7,44.8
121,2001820978,1091120922803,0.515,1.0,0.50,0.5,d,d,90.2,45.4,44.8
122,2001811475,1091121844806,0.689,1.0,0.50,0.5,b,b,61.3,33.0,28.3
123,2001811305,1091121846136,0.750,1.0,0.50,0.5,d,d,0.0,45.4,-45.4

In [40]:
expresult.to_excel("ExpResults1.xlsx")

In [41]:
count=expresult[expresult['Difference between expected charges and billed charges(Rs)']==0].count()['Difference between expected charges and billed charges(Rs)']
count

52

In [42]:
# Count of Total Orders - Over Charged

courier=expresult[expresult['Difference between expected charges and billed charges(Rs)']<0].count()['Difference between expected charges and billed charges(Rs)']
courier

60

In [43]:
# Count of Total Orders - Under Charged

countoftotalor=expresult[expresult['Difference between expected charges and billed charges(Rs)']>0].count()['Difference between expected charges and billed charges(Rs)']
countoftotalor

11

In [44]:
# sum of Total Orders - Correctly Charged

sumofcorrect=round(expresult[expresult['Difference between expected charges and billed charges(Rs)']==0].sum()['Expected charge as per X(Rs)'],2)
sumofcorrect

4512.3

In [45]:

# sum of Total Orders - Over Charged

sumoforders=round(expresult[expresult['Difference between expected charges and billed charges(Rs)']<0].sum()['Expected charge as per X(Rs)'],2)
sumoforders

3996.8

In [46]:
# sum of Total Orders - Under Charged

sumofordersuc=round(expresult[expresult['Difference between expected charges and billed charges(Rs)']>0].sum()['Expected charge as per X(Rs)'],2)
sumofordersuc

1753.7

In [47]:

data = {'Count': [count,courier,countoftotalor],
        'Sum': [sumofcorrect,sumoforders,sumofordersuc]}

In [48]:
   

Summary = pd.DataFrame(data, index=['Total Orders - Correctly Charged','Total Orders - Over Charged','Total Orders - Under Charged'])
Summary

                                  Count     Sum
Total Orders - Correctly Charged     52  4512.3
Total Orders - Over Charged          60  3996.8
Total Orders - Under Charged         11  1753.7

In [49]:
# store
Summary.to_excel("summary.xlsx")

PermissionError: [Errno 13] Permission denied: 'summary.xlsx'